<!DOCTYPE html>
<html lang="en-us">
<head>
    <meta charset="UTF-8">
    <title>Table Assignment</title>
</head>
<body>
    <h1>Available Routes:</h1>
    <br>
    <a href="http://127.0.0.1:5000/api/v1.0/precipitation" target="_blank">/api/v1.0/precipitation</a>
    <br>
    <a href="http://127.0.0.1:5000/api/v1.0/stations" target="_blank">/api/v1.0/stations</a>
    <br>
    <a href="http://127.0.0.1:5000/api/v1.0/tobs" target="_blank">/api/v1.0/tobs</a>
    <br>
    <a href="http://127.0.0.1:5000/api/start" target="_blank">/api/v1.0/&lt;start&gt;</a>
    <br>
    <a href="http://127.0.0.1:5000/api/start_end" target="_blank">/api/v1.0/&lt;start&gt;/&lt;end&gt;</a>
</body>
</html>